<!-- Modal Customer Details -->
<div th:fragment="customerDetails" class="modal fade" id="customerDetails">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
            <h1 class="modal-title fs-5" id="customerDetailsLabel">Customer Details</h1>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Mã Khách Hàng: <strong id="detailId"></strong></label>
                </div>
                <div class="col">
                    <label class="col-form-label">User ID: <strong id="detailUserId"></strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Họ Tên: <strong id="detailFullName"></strong></label>
                </div>
                <div class="col">
                    <label class="col-form-label">Số Điện Thoại: <strong id="detailPhone"></strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Email: <strong id="detailEmail"></strong></label>
                </div>
                <div class="col">
                    <label class="col-form-label">Địa Chỉ: <strong id="detailAddress"></strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Username: <strong id="detailUsername"></strong></label>
                </div>
                <div class="col">
                    <label class="col-form-label">Password: <strong id="detailPassword"></strong></label>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal Customer Details -->